<div *ngIf="isLoggedIn">
  <div>
    <div class="alert alert-warning" *ngIf="getMemoriesFailed">
      failure, couldn't get memories!<br />{{ getMemoriesError }}
    </div>
  </div>
  <div>
    <div class="alert alert-warning" *ngIf="modifyMemoryFailed">
      failure, couldn't modify memory!<br />{{ errorMessage }}
    </div>
  </div>
  <button (click)="openCreateMemoryModal()">create memory</button>
  <div class="memoryItemsList">
    <div *ngFor="let memoryItem of memories" class="memoryItem">

      <h3>
          <a (click)="viewMemory(memoryItem.id)" class="btn btn-light memoryanchor" >{{ memoryItem.name }} {{memoryItem.fileType}} {{formatDate(memoryItem.dateTimeAdded)}} </a>
        <button (click)="deleteMemory(memoryItem.id)">delete</button>
        <button (click)="openRenameMemoryModal(memoryItem.id)">rename</button>
      </h3>

    </div>
  </div>
</div>
