<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>











<form
  *ngIf="!isSuccessful"
  name="form"
  (ngSubmit)="f.form.valid && onSubmit()"
  #f="ngForm"
  novalidate
>
  <div class="form-group">
    <label for="memoryname">memory name</label>
    <input
      type="text"
      class="form-control"
      name="memoryname"
      [(ngModel)]="form.memoryname"
      required
      minlength="3"
      maxlength="40"
      #memoryname="ngModel"
    />
    <div class="alert-danger" *ngIf="memoryname.errors && f.submitted">
      <div *ngIf="memoryname.errors['required']">memoryname is required</div>
      <div *ngIf="memoryname.errors['minlength']">
        memory name must be at least 3 characters
      </div>
      <div *ngIf="memoryname.errors['maxlength']">
        memory name must be at most 40 characters
      </div>
    </div>






    <input type="file" class="file-input"
           [accept]="requiredFileType"
           (change)="onFileSelected($event)" #fileUpload>

    <div class="file-upload">

      {{fileName || "No file uploaded yet."}}

      <button mat-mini-fab color="primary" class="upload-btn"
              (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>

      </button>

    </div>

    <div class="progress">

      <mat-progress-bar class="progress-bar" mode="determinate"
                        [value]="uploadProgress" *ngIf="uploadProgress">

      </mat-progress-bar>

      <mat-icon class="cancel-upload" (click)="cancelUpload()"
                *ngIf="uploadProgress">delete_forever</mat-icon>

    </div>















  </div>

  <div class="form-group">
    <button class="btn btn-primary btn-block">create memory</button>
  </div>
  <div class="alert alert-warning" *ngIf="f.submitted && isMemoryFailed">
    memoryname creation failed!<br />{{ errorMessage }}
  </div>
</form>
<div class="alert alert-success" *ngIf="isSuccessful">
  Your memoryname creation is successful!
</div>


























<div class="modal-body">
  <button type="button" class="btn" (click)="activeModal.close('Close click')">create memory</button>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
