
<div *ngIf="isLoggedIn">
  <div class="alert alert-warning" *ngIf="userGroupActionFailed">
    failed to do usergroup action!<br />{{ errorMessage }}
  </div>
  <button class="btn btn-lg btn-outline-primary" (click)="openCreateUserGroupModal()">Create usergroup</button>

  <div *ngFor="let pendingusergroup of pendinguserGroups" class="pendinguserGroupItem">

    <h5>
        pending: {{ pendingusergroup.name }}
      <a (click)="acceptUserGroupInvite(pendingusergroup.id)" class="btn btn-light"> accept </a>
      <a (click)="declineUserGroupInvite(pendingusergroup.id)" class="btn btn-light"> decline</a>
    </h5>

  </div>

  <div *ngFor="let usergroup of userGroups" #usergroupDiv class="userGroupItem">

      <a (click)="loadUserGroupFromUserGroups(usergroup.id, usergroupDiv)" class="btn btn-light usergroupnameanchor">
        {{ usergroup.name }}
      </a>

  </div>
</div>
