<div class="modal-header">
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>

  <form
    *ngIf="!isUserGroupCreationFailed"
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
  >
    <div class="form-group">
      <label for="usergroupname">usergroup name</label>
      <input
        type="text"
        class="form-control"
        name="usergroupname"
        [(ngModel)]="form.usergroupname"
        required
        minlength="3"
        maxlength="40"
        #usergroupname="ngModel"
      />
      <div class="alert-danger" *ngIf="usergroupname.errors && f.submitted">
        <div *ngIf="usergroupname.errors['required']">usergroupname is required</div>
        <div *ngIf="usergroupname.errors['minlength']">
          Username must be at least 3 characters
        </div>
        <div *ngIf="usergroupname.errors['maxlength']">
          Username must be at most 40 characters
        </div>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-primary btn-block">create usergroup</button>
    </div>
    <div class="alert alert-warning" *ngIf="f.submitted && isUserGroupCreationFailed">
      usergroup creation failed!<br />{{ errorMessage }}
    </div>
  </form>
  <div class="alert alert-success" *ngIf="formSubmitted && !isUserGroupCreationFailed">
    Your usergroup creation is successful!
  </div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
