<div>
  <div class="alert alert-warning" *ngIf="isGetMemoriesFailed">
    failure, couldn't get memories!<br />{{ getMemoriesError }}
  </div>
</div>
<div>
  <div class="alert alert-warning" *ngIf="isAddedToUserGroupFailed">
   failure, couldn't add memory to usergroup!<br />{{ addedToUserGroupError }}
  </div>
</div>
<div class="memoryItemsList">
  <div *ngFor="let memoryItem of memories" class="memoryItem">

    <h3>
      <a (click)="addMemoryToUserGroup(memoryItem)">
        {{ memoryItem.name }} {{memoryItem.fileType}} {{memoryItem.dateTimeAdded}}
      </a>
    </h3>

  </div>
</div>
