<div>
  <div class="alert alert-warning" *ngIf="loadUserGroupUserMemoriesFailed">
    failure, couldn't load memories!<br />{{ loadUserGroupUserMemoriesErrorMessage }}
  </div>
</div>
<div>
  <div class="alert alert-warning" *ngIf="modifyMemoryFailed">
    failure, couldn't modify memory!<br />{{ errorMessage }}
  </div>
</div>
<div class="memoryItemsList">
  <div *ngFor="let memoryItem of memories" class="memoryItem">

    <h4>
        {{ memoryItem.name }} {{memoryItem.fileType}} {{formatDate(memoryItem.dateTimeAdded)}}
    </h4>
    <button (click)="deleteMemory(memoryItem.id)">delete</button>
    <button (click)="openRenameMemoryModal(memoryItem.id)">rename</button>
    <button (click)="removeMemoryFromGroup(memoryItem.id)">remove from this group</button>

  </div>
</div>
