<div *ngIf="isLoggedIn">
  <mat-tab-group dynamicHeight preserveContent (selectedTabChange)="myTabSelectedTabChange($event)" animationDuration="0" [(selectedIndex)]=selectedIndex>
    <mat-tab label="Group Memories">
      <div>
        <div class="alert alert-warning" *ngIf="userGroupLoadFailed">
          failed to get usergroup!<br />{{ errorMessage }}
        </div>
        <h2 id="userGroupName"> </h2>
        <button [hidden]="!(currentUsername===userGroupAdminUsername || allowAllDebug)" id="saveJSONbutton"> SAVE DIR STRUCTURE </button>
        <button [hidden]="!(currentUsername===userGroupAdminUsername || allowAllDebug)" id="createFolderButton"> CREATE FOLDER </button>
        <button [hidden]="!(currentUsername===userGroupAdminUsername || allowAllDebug)" id="renameUserGroupButton"> RENAME USERGROUP </button>
        <button [hidden]="!(currentUsername===userGroupAdminUsername || allowAllDebug)" id="deleteUserGroupButton"> DELETE USERGROUP </button>
        <button id="addMemoriesButton"> ADD MEMORIES </button>
        <button id="createAndAddMemoriesButton"> CREATE AND ADD MEMORIES </button>
        <button id="modifyMemoriesForUserGroupButton"> MODIFY MEMORIES </button>

        <div draggable="false" class="backbox_dnd" id="backbox_dnd"> ... </div>

        <div [hidden]="!(currentUsername===userGroupAdminUsername || allowAllDebug)">
          Turn on to allow dragging files into folders to deposit:
          <button id="toggleFolderDepositButton"> off </button>
        </div>

        <div class="fullcontainer_dnd">

          <div class="containerbehind_dnd" id="dirviewbehind_dnd">
          </div>

          <div class="container_dnd" id="dirview_dnd">
          </div>

        </div>
      </div>


  </mat-tab>
    <mat-tab label="Group Users">
      <app-user-group-users-tab [(requiredUserGroupId)]="requiredUserGroupId" [(usersInGroup)]="usersInGroup" [(pendingUsersInGroup)]="pendingUsersInGroup" [(selectedIndex)]="selectedIndex" [(userGroupAdminUsername)]="userGroupAdminUsername" (selectedIndexChange)="onIndexChange($event)" ></app-user-group-users-tab>
    </mat-tab>
  </mat-tab-group>
</div>

