<!-- Copyright 2018 Google LLC.
SPDX-License-Identifier: Apache-2.0 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hello!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="js/drag-and-drop.js"></script>

</head>
<body>
<!--<button onclick="prevNode();">back node</button>-->
<button id="saveJSONbutton"> SAVE JSON </button>
<div draggable="false" class="backbox" id="backbox"> ... </div>
Turn on to allow dragging files into folders to deposit:
<button id="toggleFolderDepositButton"> off </button>

<div>

<div class="containerbehind" id="dirviewbehind">
    <!--    <div draggable="true" class="box">A</div>-->
    <!--    <div draggable="true" class="box">B</div>-->
    <!--    <div draggable="true" class="box">C</div>-->
    <!--    <div draggable="true" class="box folder">Folder D</div>-->
</div>

<div class="container" id="dirview">
<!--    <div draggable="true" class="box">A</div>-->
<!--    <div draggable="true" class="box">B</div>-->
<!--    <div draggable="true" class="box">C</div>-->
<!--    <div draggable="true" class="box folder">Folder D</div>-->
</div>

</div>


</body>

</html>
