/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.rename-dialog {
  /*z-index: 1500;*/
}

.rename-dialog-backdrop {
  /*z-index: 1500;*/
}

.cdk-overlay-container {
  z-index: 1600;
}

.memoryanchor {
  float: left;
}

.addmemoryanchor {
  float: left;
  width: 100%;
}

.usergroupnameanchor {
  width: 100%;
}

.widerModals {
  --bs-modal-width: 700px;
}

